.main-menu {
  position: relative;
  right: 0;

  .main-button {
    right: 0;
    position: fixed;
    width: 65%;
    height: 100vh;
    background-color: aliceblue;
    z-index: 99;
    transition: right 0.3s ease;
    opacity: 0.98;
    -webkit-box-shadow: -9px 9px 26px -23px rgba(66, 68, 90, 1);
    -moz-box-shadow: -9px 9px 26px -23px rgba(66, 68, 90, 1);
    box-shadow: -9px 9px 26px -23px rgba(66, 68, 90, 1);

    @media screen and (min-width: 800px) {
      width: 16%;
    }
  }

  .none-menu {
    transition: right 0.3s ease;
    display: none;
  }
}

.button-menu {
  padding: 4px;
  top: var(--spacing-20);
  background-color: var(--primary);
  right: var(--spacing-20);
  position: fixed;
  border-radius: 6px;
  z-index: 987776;
  transition: right 0.3s ease;
}
